{%extends "layout.html"%}

{%block head%}
Content Aggregator
{%endblock%}


{%block body%}
<div class="container">
<ul>
    {% for part in part_list %}
    <div class="d-flex bd-highlight container product-box">
        <div class="p-2 bd-highlight">
            <div class="product-image">
                <img src="{{ part.img_link }}" class = "img-thumbnail" onerror="this.src='https://www.publicdomainpictures.net/pictures/30000/velka/plain-white-background.jpg';" style="max-height: 250px; max-width: 250px;">
            </div>
        </div>
        <div class="p-2 bd-highlight flex-grow-1 container">
            <blockquote class="blockquote">
                <a href = "{{ part.link }}" style="color: black;"  class="mb-0" target="_blank">{{ part.title }}</a>
                <footer class="blockquote-footer">{{ part.site }}</footer>
            </blockquote>
        </div>
        <div class="p-2 bd-highlight"><h4>{{ part.price }}</h4></div>
    </div>
    <hr>
    {% endfor %}
</ul>
</div>

{%endblock%}
